.container {
  container-type: inline-size;
  container-name: main
}

/* Container query applied if the container is larger than 700px */
@container main (min-width: 700px) {
 .todo-container {
    display:grid;
    grid-template-columns: 2fr 1fr;
 }
}

@container main (max-width: 700px) {
  .todo-container {
     display:grid;
     grid-template-columns: 1fr ;
  }
 }

.title {
  text-align: center;
}

.list-todos table {
  width: 100%;
}

.list-todos table {
  border : 1px solid grey;
}

.list-todos table td {
  text-align: center;
}

.add-todo {
  display: grid;
  grid-template-columns: 1fr;
}

.add-todo {
  margin: 0px 10px;
}

.add-todo input {
  margin-bottom: 5px;
  height: 20px;
}

.add-todo button {
  max-width: 100px;
  margin: 0px auto;
}